extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main 
    +alert-success(3000)
    +alert-error(3000)

    .container.my-3 
        .row
            .col-12 
                +box-head(pageTitle)
        .row
            .col-12 
                div(class="alert alert-success")
                    | Chúc mừng bạn đã đặt hàng thành công! Chúng tôi sẽ xử lí đơn hàng trong thời gian sớm nhất
        if(orderDetail)
            .row 
                .col-12 
                    h4(class="mb-2") Thôn tin cá nhân 
                    table(class="table table-bordered")
                        tbody
                            tr 
                                td Họ tên 
                                td 
                                    b #{orderDetail.userInfo.fullname}
                            tr 
                                td Số điện thoại 
                                td 
                                    b #{orderDetail.userInfo.phone}
                            tr 
                                td Địa chỉ 
                                td 
                                    b #{orderDetail.userInfo.address}
            .row 
                .col-12 
                    h4(class="mb-2") Thôn tin đơn hàng 
                    table(class="table table-bordered")
                        thead
                            tr  
                                th STT 
                                th Ảnh
                                th Tên 
                                th Giá
                                th Số lượng 
                                th Thành tiền
                        tbody
                            if(orderDetail.products.length>0)
                                each item,index in orderDetail.products 
                                    tr  
                                    td #{index + 1}
                                    td 
                                        img(src=item.productInfo.thumbnail,alt=item.productInfo.title width="80px") 
                                    td 
                                        a #{item.productInfo.title}
                                    td #{item.newPrice}$
                                    td #{item.quantity}
                                    td #{item.totalPrice}$

                    if(orderDetail.products.length > 0)           
                        h3(class="text-right") Tổng đơn hàng: #{orderDetail.totalPrice}$
