extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main 
    +alert-success(3000)
    +alert-error(3000)

    .container.my-3 
        .row 
            .col-12 
                +box-head(pageTitle)

        .row 
            .col-12 
                form(
                    action=`/rooms-chat/create`
                    method="POST"
                )
                    div(class="form-group")
                        lable(for="title") Tiêu đề
                        input(
                            type="text"
                            class="form-control"
                            id="title"
                            name="title"
                            require
                        )
                    div(class="form-group")
                        lable Thêm thành viên
                        each friend in friendList
                            div(class="form-check")
                                input(
                                    type="checkbox"
                                    class="form-check-input"
                                    id=`user-${friend.user_id}`
                                    name="usersId"
                                    value=friend.user_id
                                )
                                label(
                                    class="form-check-label"
                                    for=`user-${friend.user_id}`
                                ) #{friend.infoFriend.fullname}
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tạo

